/client/node_modules
/client/README.md
/client/.env
/client/.env~
/client/src/.env
/client/src/.env~
/client/src/ConfigAxios.js
/client.DS_Store
.DS_Store

/server/node_modules
/server/server.js
